.body_page {
  margin: 0px auto;
  min-height: 100vh;
  width: 100%;
  background: url('../../assets/banner2.jpg') no-repeat;
  object-fit: cover;
  position: relative;
  padding-top: 100px !important;

}
.css-1oqqzyl-MuiContainer-root{
  /* background: linear-gradient(135deg, #0a663f, #13b456); */
  background: url('../../assets/banner1.jpg') no-repeat;
  width: 100%;
  min-height: 200vh;
  object-fit: contain;
  padding-top: 50px;
  
}
.filter {
  position: relative;
  margin: 0 auto 50px;
  z-index: 1;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
}
.namesFilter {
  color: white;
  font-weight: bold;
}

.filter > * {
  z-index: 2;
  background-color: inherit;
  border: none;
}
.filter > *:first-child {
  z-index: 2;
  background-color: inherit;
  border: none;
  font-size: 22px;
  background: none;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  width: 100%;
}
.card {
  /* background: linear-gradient(135deg, #0d823e, #0a663f); */
  border-radius: 10px !important;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(10px) !important;
  padding: 5px !important;
 


}
.css-6ww1au-MuiPaper-root-MuiCard-root{
  background-color: inherit !important;
}
.cardInner {
  padding: 20px;
  text-align: center;
}
